/zynjacku.so
/zynjacku_wrap.c
/zynjacku.defs
/.gdb_history
/*.bak
*.pyc
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h.in
/config
/configure
/Makefile
/config.h
/config.log
/config.status
/libtool
/stamp-h1
/.deps
/.libs
*.lo
*.la
/TAGS
